<div class="jumbotron">
  <div class="container" ID="landing-contain">
    <h1>lessonDB</h1>
    <h3>Find and share lesson plans</h3>

    <%= render 'searches/form' %>

  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>All your files, Everywhere</h2>
      <p>Download and print your lessons from any computer with internet access</p>
      <p><a class="btn btn-default" href="/users/sign_up" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Stand on the Shoulders of Giants</h2>
      <p>Find lessons created by other teachers</p>
      <p><a class="btn btn-default" href="/searches/new" role="button">Find lessons &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Battle-tested Lessons</h2>
      <p>Community-reviewed, State and Federal standards documented</p>
      <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>Site Design by Robert Anderson</p>
  </footer>
</div> <!-- /container -->

<script>
  $('li').onclick = function(){
    alert('test');
  }
</script>

